<!DOCTYPE html>
<html>
<head>

    <title>Перевод средств с карты на карту - СпёрБанк</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="{{ asset('css/bootstrap.css') }}" rel="stylesheet" media="screen">
    <link href="{{ asset('css/styles.css') }}" rel="stylesheet" media="screen">


    <script src="{{ asset('js/jquery.js') }}"></script>

    <script src="{{ asset('js/bootstrap.js') }}"></script>

    <script src="{{ asset('js/js.js') }}"></script>

    {% include 'BraincraftedBootstrapBundle::ie8-support.html.twig' %}

    <script>
        window.app = window.app || {};
        window.app.routes = {
            img_path: '{{ asset('img/') }}',
            app_default_card_validation: '{{ path('app_default_card_validation') }}'
        };

        window.app.icons = {
            cards: {
                'visaelectron': 'visaelectron.gif',
                'maestro': 'maestro.png',
                'forbrugsforeningen': 'forbrugsforeningen.gif',
                'visa': 'visa.gif',
                'mastercard': 'mastercard.gif',
                'amex': 'amex.png',
                'dinersclub': 'dinersclub.png',
                'discover': 'discover.gif',
                'unionpay': 'unionpay.png',
                'jcb': 'jcb.jpg'
            }
        }

        window.app.params = {
            minAmount: 100
        };

    </script>

</head>

<body>

{% block header %}
<div class="header">
    <a class="logo" href="{{ path('app_default_index') }}">Спёр<span>банк</span></a>
    <div class="logo-subtext">Всегда рядом, даже когда не нужен</div>
</div>
{% endblock %}

<div class="body">
{% block body %}

{% endblock %}
</div>

</body>
</html>