{% extends "AppBundle::layout.html.twig" %}

{% block body %}
    <h1>Перевод с карты на карту</h1>

    {% if error %}
        <p class="red">Ошибка! {{ error }}</p>

        <p><a href="{{ path('app_default_index') }}">&larr; Попробовать еще раз</a></p>
    {% else %}
        <p>Операция успешно завершена! За перевод мы взяли с вас комиссию в размере {{ commission }} рублей, спасибо!</p>

        <p><a href="{{ path('app_default_index') }}">&larr; Сделать еще перевод</a></p>
    {% endif %}

{% endblock %}
