h1 {
    font-size: 1.2em;
}

.header {
    padding: 5px;
    border-bottom: 1px solid #CCC;
}

.header a.logo {
    font-size: 1.4em;
    color: #369B1E;
    display: block;
}

.header a.logo span {
    color: black;
}

.header .logo-subtext {
    font-size: 0.8em;
    color: gray;
}

.body {
    padding: 5px;
}

.input-card {
    width: 200px;
}

.input-amount {
    width: 100px;
}

.form-row {
    margin: 5px 0;
}

.block-spacer {
    height: 10px;
}

.red {
    color: red;
}

.green {
    color: green;
}

.inline-block {
    display: inline-block;
}