{% extends "AppBundle::layout.html.twig" %}

{% block body %}
    <h1>Перевод с карты на карту</h1>

    {{ form_start(form, {attr: {class: 'j-form'}}) }}

    <div class="form-row">Пожалуйста, укажите карту где лежат Ваши денежки:</div>

    <div class="form-row">
        {{ form_widget(form.senderCard, {attr: {autocomplete: 'off', class: 'input-card j-input-sender-card inline-block'}}) }}
        <div class="inline-block j-sender-card-icon"></div>
        <div class="inline-block j-sender-card-status"></div>
    </div>

    <div class="block-spacer"></div>

    <div class="form-row">Укажите карту куда бы Вы хотели их отправить:</div>

    <div class="form-row">
        {{ form_widget(form.recipientCard, {attr: {autocomplete: 'off', class: 'input-card j-input-recipient-card inline-block'}}) }}
        <div class="inline-block j-recipient-card-icon"></div>
        <div class="inline-block j-recipient-card-status"></div>
    </div>

    <div class="block-spacer"></div>

    <div class="form-row">И обязательно введите сумму:</div>

    <div class="form-row">
        {{ form_widget(form.amount, {attr: {autocomplete: 'off', class: 'input-amount j-input-amount inline-block'}}) }}
        <div class="inline-block j-amount-status"></div>
    </div>

    <div class="block-spacer"></div>

    <div class="form-row">{{ form_widget(form.save, {label: 'Сохранить', attr: {class: 'input-submit j-input-submit'}}) }}</div>

    {{ form_end(form) }}

{% endblock %}
